* {
  box-sizing: border-box;
}

body {
  width: 90%;
  margin: auto;

  main {
    display: flex;  
    margin: 0px auto;
    height: 70vh;
    align-items: stretch;

    > article {
      flex: 3 3 0px;
      padding-right: 1.2em;
    }

    > aside {
      background: greenyellow;
      flex: 1 1 0px;
    }
  }

  canvas { 
    width: 100%;
    height: 70vh;
    border: 1px solid gray; 
  }
}